<div class="align">
  <button mat-button color="accent" *ngIf="allowAddMember"  (click)="addMember()"  aria-label="Add member">Add member</button>
  <button mat-button color="accent"  *ngIf="allowAddPm"  (click)="addPm()"  aria-label="assign project manager">assign project manager</button>
</div>

<div class="mat-elevation-z8">

  <table mat-table matSort [dataSource]="dataSource">
    <caption>{{title}}</caption>
    <!-- id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> id user </th>
      <td mat-cell *matCellDef="let element"   > {{element.idu}}  </td>

    </ng-container>

    <!-- Name Column -->v315
    <ng-container matColumnDef="name">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

     <!-- lastname Column -->v315
    <ng-container matColumnDef="lastname">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> lastname </th>
      <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
    </ng-container>

     <!-- type Column -->v315
    <ng-container matColumnDef="type">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> type </th>
      <td mat-cell *matCellDef="let element"> {{element.typeOfUser}} </td>
    </ng-container>
       <ng-container matColumnDef="companyName">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Comapny name </th>
      <td mat-cell *matCellDef="let element"> {{element.companyName}} </td>
    </ng-container>

     <!-- email Column -->v315
    <ng-container matColumnDef="email">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

      <!-- phone Column -->v315
    <ng-container matColumnDef="phone">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> phone </th>
      <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
    </ng-container>

            <!-- delete Column -->v315
    <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef>  </th>
                <td mat-cell *matCellDef="let element">
                    <button *ngIf="allowDelete"  (click)="fixDelete(element.idu)" mat-raised-button color="warn">remove</button>
                </td>
    </ng-container>


     <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
<div>
  <h2> </h2>
</div>
<div>
    <h5> * customer </h5>
  <h5> ** customer user </h5>
</div>
