<mat-card>
    <mat-card-header>
        <h2>User update</h2>
    </mat-card-header>
    <mat-card-content>
        <form class="example-form" [formGroup]="updateForm" (ngSubmit)="proceedUpdate()">
            <mat-form-field class="example-full-width">
              <mat-label>email</mat-label>
              <input matInput formControlName="email" >
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" >
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <mat-label>Surname</mat-label>
                <input matInput formControlName="surname" >
              </mat-form-field>

          <mat-form-field class="example-full-width">
                <mat-label>Phone</mat-label>
                <input matInput formControlName="phone" >
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <mat-label>address</mat-label>
                <input matInput formControlName="adress" >
              </mat-form-field>

          <mat-form-field class="example-full-width">
              <mat-select formControlName="typeOfUser">
                <mat-label>Type of User</mat-label>
                <mat-option *ngFor="let user of typeOfUser" [value]="user" > {{user}}</mat-option>
              </mat-select>
          </mat-form-field>
          <br>
              <mat-radio-group formControlName="gender" aria-label="Select an option">
                <mat-radio-button  name="gender" value="male">Male</mat-radio-button>
                <mat-radio-button  name="gender" value="female">Female</mat-radio-button>
              </mat-radio-group>
          <div>
            <mat-checkbox formControlName="activeAccount" class="example-margin">Active Account</mat-checkbox>
          </div>
              <div>
                <button mat-raised-button color="primary">Submit</button>
                <button mat-dialog-close="" mat-raised-button color="warn" >Cancel</button>
              </div>

          </form>
    </mat-card-content>
  </mat-card>
