  .example-margin {
  margin: 0 12px;
}
table {
  width: 100%;
}
.mat-mdc-radio-button ~ .mat-mdc-radio-button {
  margin-left: 16px;
}
.align{
display:flex;
justify-content: center;
align-items: center;
height: 100%;
}
.btn-ui{
  margin-right: 15px;
}
