<mat-card class="card">
  <div class="back-button">
    <button mat-icon-button mat-dialog-close="">
      <mat-icon>x</mat-icon>
    </button>
    <span>Close</span>
  </div>
  <mat-card-content>
    <div class="info">
      <div class="project-field-label">
        <span>Name:</span>
        <span>Description:</span>
        <span>  </span>
                <span>  </span>
        <span>  </span>
        <span>  </span>
        <span>Cost:</span>
        <span>Start Date:</span>
        <span>End Date:</span>
        <span>Progress:</span>
        <span>Real Start Date:</span>
        <span>Real End Date:</span>
        <span>Order:</span>
      </div>
      <div class="project-field-value">
        <span>{{Data.id.name}}</span>
        <span>{{Data.id.description}}</span>
        <span>{{Data.id.cost}}</span>
        <span>{{Data.id.startDate}}</span>
        <span>{{Data.id.endDate}}</span>
        <span>{{Data.id.progress}}</span>
        <span>{{Data.id.realStartDate}}</span>
        <span>{{Data.id.realEndDate}}</span>
        <span>{{Data.id.posistion}}</span>
      </div>
    </div>
  </mat-card-content>
</mat-card>


