example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.align{
display:flex;
justify-content: center;
align-items: center;
height: 100%;
}
.btn-ui{
  margin-right: 15px;
}

.primary {
  background-color: #00A0DC; /* Set the background color to red */
  color: #fff; /* Set the text color to white */
}
.accent {
  background-color: #0077B5; /* Set the background color to red */
  color: #fff; /* Set the text color to white */
}
.warn {
  background-color: #E68523; /* Set the background color to red */
  color: #fff; /* Set the text color to white */
}
.danger {
  background-color: #DD5143; /* Set the background color to red */
  color: #fff; /* Set the text color to white */
}
