  <div class="back-button">
    <button mat-icon-button mat-dialog-close="">
      <mat-icon>x</mat-icon>
    </button>
    <span>Close</span>
  </div>
    <div class="project-info">
      <div class="project-field-label">
        <span>Name:</span>
        <span>lastname:</span>
        <span>email:</span>
        <span>password</span>
        <span>phone:</span>
        <span>Type of user</span>
        <span>Active account</span>
        <span>Company name</span>
      </div>
      <div class="project-field-value">
        <span>{{this.data.id.name}}</span>
        <span>{{this.data.id.lastname}}</span>
        <span>{{this.data.id.email}}</span>
        <span>{{this.data.id.password}}</span>
        <span>{{this.data.id.phone}}</span>
        <span>{{this.data.id.typeOfUser}}</span>
        <span>{{this.data.id.activeAccount}}</span>
        <span>{{this.data.id.companyName}}</span>
      </div>
    </div>
