<mat-card class="content">
    <mat-card-header>
        <h2>New activity </h2>
    </mat-card-header>
    <mat-card-content>
        <form class="example-form" [formGroup]="Form" (ngSubmit)="formControl()">
            <mat-form-field class="example-fit-width field-spacer">
              <mat-label>Name</mat-label>
              <input matInput formControlName="name" >
            </mat-form-field>
           <mat-form-field class="example-fit-width">
                <mat-label>order</mat-label>
                <input matInput formControlName="posistion" >
              </mat-form-field>

            <mat-form-field class="example-fit-width field-spacer">
                <mat-label>Description</mat-label>
                <input matInput formControlName="description" >
              </mat-form-field>
          <mat-form-field class="example-fit-width">
                <mat-label>cost</mat-label>
                <input matInput formControlName="cost" >
              </mat-form-field>

             <mat-form-field appearance="fill" class="example-fit-width field-spacer">
                  <mat-label>Choose the starting date</mat-label>
                  <input  [formControl]="stardate2" matInput  [matDatepicker]="picker1">
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle   matIconSuffix [for]="picker1" ></mat-datepicker-toggle>
                  <mat-datepicker #picker1 startView="year" [startAt]="startDateui"></mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance="fill" class="example-fit-width">
                  <mat-label>Choose the end date</mat-label>
                  <input [formControl]="endDate2" matInput  [matDatepicker]="picker2">
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle   matIconSuffix [for]="picker2" ></mat-datepicker-toggle>
                  <mat-datepicker #picker2 startView="year" [startAt]="startDateui"></mat-datepicker>
                </mat-form-field>
          <div>
            <button mat-raised-button color="primary">Submit</button>
          </div>
          </form>
    </mat-card-content>
  </mat-card>


