<mat-card class="card">
    <mat-card-header>
        <mat-card-title>
        <h3>Personal Information</h3>
        </mat-card-title>
      </mat-card-header>
  <mat-card-content>
    <div class="info">
            <div class="project-field-label"> <span>Name:</span> </div> <div class="project-field-value"> <span>{{Data.name}}</span> </div>
            <div class="project-field-label"> <span>Last Name:</span> </div> <div class="project-field-value"> <span>{{Data.lastname}}</span> </div>
            <div class="project-field-label"> <span>Email:</span> </div> <div class="project-field-value"> <span>{{Data.email}}</span> </div>
            <div class="project-field-label"> <span>Phone:</span> </div> <div class="project-field-value"> <span>{{Data.phone}}</span> </div>
            <div class="project-field-label"> <span>Company Name:</span> </div> <div class="project-field-value"> <span>{{Data.companyName}}</span> </div>
                  <div class="project-field-label"> <span>Gender:</span> </div> <div class="project-field-value"> <span>{{Data.gender}}</span> </div>
    </div>
  </mat-card-content>
</mat-card>
<mat-card class="card">
    <mat-card-header>
        <mat-card-title>
        <h3>Account settings</h3>
        </mat-card-title>
      </mat-card-header>
  <mat-card-content>
      <div class="align">
  <button mat-button color="accent" (click)="changePassword()" aria-label=" ">Update password</button>

  <button mat-button color="accent"  (click)="updatInfo()"  aria-label="">Update profile info</button>

</div>

  </mat-card-content>
</mat-card>



