  .example-margin {
  margin: 0 12px;
}
table {
  width: 100%;
}
.mat-mdc-radio-button ~ .mat-mdc-radio-button {
  margin-left: 16px;
}
.content {
  display: flex;
  flex-wrap: wrap;
}

mat-form-field {
  flex-grow: 1;
  margin-right: 10px;
}

.align {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.btn-ui {
  margin-top: 20px;
}
div:first-child {
  margin-bottom: 3px;
}
  .btn-size{
  height: 50px;
    margin-bottom: 17px;
  }

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-spacer {
  margin-right: 20px;
}

:host ::ng-deep .mat-select-panel {
  max-height: max-content !important;
}
.primary {
  background-color: #00A0DC; /* Set the background color to red */
  color: #fff; /* Set the text color to white */
}
.accent {
  background-color: #0077B5; /* Set the background color to red */
  color: #fff; /* Set the text color to white */
}
.warn {
  background-color: #E68523; /* Set the background color to red */
  color: #fff; /* Set the text color to white */
}
.danger {
  background-color: #DD5143; /* Set the background color to red */
  color: #fff; /* Set the text color to white */
}
.btn-size{
  height: 50px;
    margin-bottom: 17px;
  }

.button {
  background-color: #94C3D8; /* Set the background color to red */
  color: #fff; /* Set the text color to white */
}
