<mat-card class="content">
    <mat-card-header>
        <h2>{{title}} </h2>
    </mat-card-header>
    <mat-card-content class="content">
        <form class="example-form" [formGroup]="Form" (ngSubmit)="formControl()">
            <mat-form-field class="example-fit-width field-spacer">
              <mat-label>Name</mat-label>
              <input matInput formControlName="name" >
            </mat-form-field>
           <mat-form-field class="example-fit-width">
              <mat-label>order</mat-label>
              <input matInput formControlName="posistion"  (keydown)="this.operations.keyPressNumbers($event)">
            </mat-form-field>

          <mat-form-field class="example-full-width">
                <mat-label>Description</mat-label>
                <input matInput formControlName="description" >
              </mat-form-field>
          <mat-form-field class="example-fit-width field-spacer">
                <mat-label>cost</mat-label>
                <input matInput formControlName="cost"  (keydown)="this.operations.keyPress($event)">
              </mat-form-field>
               <mat-form-field class="example-fit-width">
                <mat-label>url</mat-label>
                <input matInput formControlName="url" >
              </mat-form-field>

              <mat-form-field appearance="fill" class="example-fit-width field-spacer">
                  <mat-label>Choose the starting date</mat-label>
                  <input  [formControl]="stardate2" matInput  [matDatepicker]="picker1">
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle   matIconSuffix [for]="picker1" ></mat-datepicker-toggle>
                  <mat-datepicker #picker1 startView="year" [startAt]="startDateui"></mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance="fill"  class="example-fit-width">
                  <mat-label>Choose the end date</mat-label>
                  <input [formControl]="endDate2" matInput  [matDatepicker]="picker2">
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle   matIconSuffix [for]="picker2" ></mat-datepicker-toggle>
                  <mat-datepicker #picker2 startView="year" [startAt]="startDateui"></mat-datepicker>
                </mat-form-field>
                <mat-form-field appearance="fill" class="example-fit-width field-spacer" >
                  <mat-label>Choose the real starting date</mat-label>
                  <input  [formControl]="realStarDate2" matInput  [matDatepicker]="picker3">
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle   matIconSuffix [for]="picker3" ></mat-datepicker-toggle>
                  <mat-datepicker #picker3 startView="year" [startAt]="startDateui"></mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance="fill" class="example-fit-width">
                  <mat-label>Choose the real end date</mat-label>
                  <input [formControl]="realEndDate2" matInput  [matDatepicker]="picker4">
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle   matIconSuffix [for]="picker4" ></mat-datepicker-toggle>
                  <mat-datepicker #picker4 startView="year" [startAt]="startDateui"></mat-datepicker>
                </mat-form-field>
          <mat-form-field class="example-fit-width field-spacer">
            <mat-label>phase </mat-label>
              <mat-select (selectionChange)="onOptionSelected($event)" formControlName="phase">
                <mat-option *ngFor="let phase of phasesNames" [value]="phase" > {{phase}}</mat-option>
              </mat-select>
          </mat-form-field>

           <mat-form-field class="example-fit-width">
            <mat-label>subphase </mat-label>
              <mat-select (selectionChange)="onOptionSelected2($event)" formControlName="subPhase">
                <mat-option *ngFor="let subPhase of subPhasesNames" [value]="subPhase" > {{subPhase}}</mat-option>
              </mat-select>
          </mat-form-field>

                <button mat-raised-button color="primary">Submit</button>
          </form>
    </mat-card-content>
  </mat-card>
