/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.primary {
  background-color: #00A0DC; /* Set the background color to red */
  color: #fff; /* Set the text color to white */
}
.accent {
  background-color: #0077B5; /* Set the background color to red */
  color: #fff; /* Set the text color to white */
}
.warn {
  background-color: #E68523; /* Set the background color to red */
  color: #fff; /* Set the text color to white */
}
.danger {
  background-color: #DD5143; /* Set the background color to red */
  color: #fff; /* Set the text color to white */
}
