<mat-card class="project-card">
  <div class="back-button">
    <button mat-dialog-close="" mat-icon-button>
      <mat-icon>x</mat-icon>
    </button>
    <span>Close</span>
  </div>
  <mat-card-content>
    <div class="project-info">
      <div class="project-field-label"><span>Name:</span></div>
      <div class="project-field-value"><span>{{Data.id.name}}</span></div>
      <div class="project-field-label"><span>Description:</span></div>
      <div class="project-field-value"><span>{{Data.id.description}}</span></div>
      <div class="project-field-label"><span>Budget:</span></div>
      <div class="project-field-value"><span>{{Data.id.budget}}</span></div>
      <div class="project-field-label"><span>Cost:</span></div>
      <div class="project-field-value"><span>{{Data.id.cost2}}</span></div>
      <div class="project-field-label"><span>Client:</span></div>
      <div class="project-field-value"><span>{{this.clientName}}</span></div>
      <div class="project-field-label"><span>Start Date:</span></div>
      <div class="project-field-value"><span>{{Data.id.startDate}}</span></div>
      <div class="project-field-label"><span>End Date:</span></div>
      <div class="project-field-value"><span>{{Data.id.endDate}}</span></div>
      <div class="project-field-label"><span>Progress:</span></div>
      <div class="project-field-value"><span>{{Number(Data.id.progress).toFixed(2)}} %</span></div>
      <div class="project-field-label"><span>Real Start Date:</span></div>
      <div class="project-field-value"><span>{{Data.id.realStartDate}}</span></div>
      <div class="project-field-label"><span>Real End Date:</span></div>
      <div class="project-field-value"><span>{{Data.id.realEndDate}}</span></div>

    </div>
  </mat-card-content>
</mat-card>



