  .example-margin {
  margin: 0 12px;
}
table {
  width: 100%;
}
.mat-mdc-radio-button ~ .mat-mdc-radio-button {
  margin-left: 16px;
}
.warn {
  background-color: #E68523; /* Set the background color to red */
  color: #fff; /* Set the text color to white */
}
