<mat-card class="card">
  <div class="back-button">
    <button mat-icon-button mat-dialog-close="">
      <mat-icon>x</mat-icon>
    </button>
    <span>Close</span>
  </div>
  <mat-card-content>
    <div class="info">
      <div class="project-field-label">
        <span>Name:</span>
        <span>Description:</span>
        <span></span>
                <span></span>
                <span></span>
                        <span></span>

        <span>cost:</span>
        <span>type:</span>
        <span>url:</span>


      </div>
      <div class="project-field-value">
        <span>{{Data.id.name}}</span>
        <span>{{Data.id.description}}</span>
                <span>{{Data.id.cost}}</span>
        <span>{{Data.id.type}}</span>
        <span>{{Data.id.url}}</span>
      </div>
    </div>
  </mat-card-content>
</mat-card>



