<mat-card class="card">
  <div class="back-button">
    <button mat-icon-button mat-dialog-close="">
      <mat-icon>x</mat-icon>
    </button>
    <span>Close</span>
  </div>
  <mat-card-content>
    <div class="info">
      <div class="project-field-label"> <span>Name:</span> </div> <div class="project-field-value"> <span>{{Data.id.name}}</span> </div>
      <div class="project-field-label"> <span>Description:</span> </div> <div class="project-field-value"> <span>{{Data.id.description}}</span> </div>
      <div class="project-field-label"> <span>Cost:</span> </div> <div class="project-field-value"> <span>{{Data.id.cost}}</span> </div>
      <div class="project-field-label"> <span>Type:</span> </div> <div class="project-field-value"> <span>{{Data.id.type}}</span> </div>
      <div class="project-field-label"> <span>Url:</span> </div>
      <div class="project-field-value"> <span><a [href]="'https://'+Data.id.url" target="_blank">{{ Data.id.url}}</a></span> </div>

    </div>
  </mat-card-content>
</mat-card>



